<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Therapie-se</title>
    <link rel="shortcut icon" href="/assets/img/iconeee.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/authentication/form-2.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/authentication/background.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/forms/switches.css">
</head>

<body class="form no-image-content">
    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">
                        <h1 class="">Redefinir Senha</h1> 
                        <img src="/assets/img/imagem-fundo.png" alt="therapie-se">
                        <form class="text-left" id="esqueci" method="POST" action="/reset-senha">
                            <div class="form">
                                <div class="form-row">
                                    <div class="col-md-6 mb-5">
                                        <label for="validationTooltip03">Senha</label>

                                        <input type="password" class="form-control" id="validationTooltip03" placeholder="Senha" name="senha"
                                            required>

                                        <div class="invalid-tooltip">
                                            Fill all blanks!
                                        </div>
                                    </div>

                                    <div class="col-md-6 mb-5">
                                        <label for="validationTooltip03">Repita senha</label>

                                        <input type="password" class="form-control" id="validationTooltip03" placeholder="Digite sua senha novamente"
                                            name="senhaRepetida" onblur="validar()" required>

                                        <div class="invalid-tooltip">
                                            Fill all blanks!
                                        </div>
                                    </div>
                                </div>

                                <div class="d-sm-flex justify-content-between">
                                    <input type="hidden" name="token" value="<%= token %>">
                                    <div class="field-wrapper">
                                        <button type="submit" class="btn btn-primary" value="">Nova senha</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <script src="/assets/js/authentication/form-2.js"></script>
</body>
</html>