<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Therapie-se</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico"/>

    <!--  GLOBAL MANDATORY STYLES  -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/authentication/form-2.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/forms/switches.css">
</head>

<body class="form">
    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">
                        <h1 class="">Therapie-se</h1>
                        <p class="">Escolha a opção desejada</p>
                        <div class="form">
                            <div class="d-sm-flex justify-content-between">
                                <div class="field-wrapper">
                                    <a class="btn btn-secondary" href="/profissionais">Pacientes</a>
                                </div>

                                <div class="field-wrapper">
                                    <a class="btn btn-primary" href="/login">Clínicas ou Profissionais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('parts/scripts') %>
</body>
</html>