<%- include ('./parts/head') %>

<body class="maintanence text-center">
    <div class="container-fluid maintanence-content">
        <div class="">
            <h1 class="error-title">Credenciais inválidas</h1>

                <a href="/login">
                    <button type="button" class="btn btn-primary mt-2">
                        Voltar para Login
                    </button>
                </a>
        </div>
    </div>
    <!--  GLOBAL MANDATORY SCRIPTS  -->
    <%- include ('./parts/scripts') %>
</body>
</html>