<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Therapie-se</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico"/>

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/authentication/form-2.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/authentication/background.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/forms/switches.css">
</head>

<body class="form no-image-content">
    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <% if(page.name == "Email") { %>
                            <h1 class="error-title">Email não encontrado!</h1>

                            <% if(page.type == "Login") { %>
                                <a href="/login">
                                    <button type="button" class="btn btn-primary mt-2">
                                        Voltar para Login
                                    </button>
                                </a>
                            <% } else { %>
                                <a href="/esqueci-senha">
                                    <button type="button" class="btn btn-primary mt-2">
                                        Voltar
                                    </button>
                                </a>
                            <% } %>
                        <% } else { %>
                            <h1 class="error-title">Credenciais Inválidas!</h1>

                            <a href="/login">
                                <button type="button" class="btn btn-primary mt-2">
                                    Voltar para Login
                                </button>
                            </a>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <script src="/assets/js/authentication/form-2.js"></script>
</body>
</html>