<div class="sidebar-wrapper sidebar-theme">
    <nav id="sidebar">
        <ul class="list-unstyled menu-categories" id="accordionExample">
            <li class="menu">
                <ul class="collapse submenu list-unstyled show" id="dashboard" data-parent="#accordionExample">
                    <li>
                        <a href="/materiais">Material de apoio</a>
                    </li>

                    <li>
                        <a href="/imagens">Imagens</a>
                    </li>

                    <li>
                        <a href="/videos">Vídeos</a>
                    </li>

                    <li>
                        <a href="/textos">Textos</a>
                    </li>

                    <li>
                        <a href="/profissionais">Profissionais</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>